<div class="flex items-start gap-2.5 p-3">

  <%= image_tag chat.user.profile_image, class: "w-8 h-8 rounded-full" %>
  <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
    <div class="flex items-center space-x-2 rtl:space-x-reverse">
      <span class="text-sm font-semibold text-gray-900 dark:text-white">
        <%= chat.user.nickname %>
      </span>
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
        <%= I18n.l(chat.created_at, format: :short) %>
      </span>
    </div>
    <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">
      <%= chat.content %>
    </p>
  </div>

  <%= render "chats/chat_drop_down" %>


<!--  <div data-controller="chat">-->
<!--    <button data-tooltip-target="tooltip-default" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Default-->
<!--      tooltip-->
<!--    </button>-->
<!--    <div id="tooltip-default" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">-->
<!--      Tooltip content-->
<!--      <div class="tooltip-arrow" data-popper-arrow></div>-->
<!--    </div>-->
<!--  </div>-->
</div>
